
#sgcase {
  height: 100vh;
  background: #F2B705;
}

.first-page {
  padding-top: 10vh;
}

#globalcase {
  height: 100vh;
  background: #0c972a;
}

.second-page {
  padding-top: 10vh;
}

#global_chart {
  width: 300;
  height: 600;
}

.nav-item {
  transition: background 200ms;
}

.nav-link {
  outline: none;
}
